.layout{
  margin-left: 10px;
}
.clear-left{
  clear: left;
}
.opt_ico{
  display:inline-block;
  width:20px;
  height:20px;
}
.portrait{
  margin-top: 15px;
  display: block;
  padding:2px;
  border:2px solid #767676;
  border-radius: 5px;
}
.btn-margin{
	margin-right: 5px;
}
.no_disp{
	display: none;
}
#del_confirm .modal-dialog{
	width:160px;
}
#del_confirm .modal-footer{
	border-top: none;
}
.badge{
  -webkit-margin-before: 10px;
  -webkit-margin-after: 10px;
}
.badge a{
  color:white;
}
.thumbnail｛
｝
@media screen and (-webkit-min-device-pixel-ratio:0){/* chrome*/
                 label:after{
                     content:".";
                     display: inline-block;
                     width:100%;
                     overflow:hidden;
                     height:0;
                 }
             }
.popWindow{
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #9D9D9D;
  position: absolute;
  opacity: 0.4;
  left: 0;
  top: 0;
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.update_text{
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  z-index: 3;
  position: absolute;
  width:100%;
  height:59px;
  line-height: 59px;
  color:#000;
}
.update_text a{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}
.update_text a input{
  position: absolute;
  right: 0;
  top: 0;
  opacity:0;
  filter: alpha(opacity=0);
  cursor: pointer
}
label.labl{
      vertical-align: middle;
      font-family:tahoma;
      width: 80px;
    text-align:justify;
      margin-bottom: 0;
      height: 26px;
    }
input[type="text"]{
      vertical-align: middle;
    }
.anchor{
  position: relative;
  top: -60px;
  visibility: hidden;
}
a.anchor:before {
  content:"";
  float: left;
  height: 0px;
}
.marg_btm{
  margin-bottom: 20px;
}
#indiv_center{
  margin-top: 30px;
}
.menu{
  background-color: #f9f9f9;
  border-top: 1px solid #d0d6d9;
}
.bigger_menu{
  font-size: 18px;
  font-family: "Microsoft YaHei";
}
.position,.indiv_sig{
  color: #787d82;
  font-size: 12px;
}
.s-chosen{
  background-color: #eee;
  border-bottom: none;
}
#s-nav li{
  margin-bottom:2px;
}
#s-nav li>a:focus, #s-nav li>a:hover {
  background-color: #eee;
  border-bottom:none;
}
.bubble{
  padding: 0px 7px;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #d0d6d9;
}
.form-control{
  display: inline-block;
}
/*新添加的样式*/
.resume-detail{
  border: 1px solid #eee;
  min-height: 100px;
  padding: 10px;
}
.info{
  text-align: center;
  font-size: 20px;
  color: #999;
  margin-top: 29px;
}
.redbg{
color: red;
}
a:target{
    padding-top: 100px;
  }