
.con{
	margin: 10px;
	text-align: center;
	border:1px double #e6e6e6;
}

.hor{
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 20px;
}

.hor > span{
	font-size: 22px;
}

.co_cor{
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.co_cor:hover img {
	border-radius: 7px;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}
.co_cor > p{
	font-size: 14px;
	line-height: 14px;
	margin-top: 20px;
	margin-bottom: 10px;
}


.co_fa{
	margin-top:8px;
}

.title_3{
	background: url(../img/bg4.png) no-repeat;
	width: 130px;
	height: 45px;
	line-height: 29px;
	padding-left: 20px;
	color: #ffffff;
}

.t14{
	font-size: 20px;
}

.tb{
	font-weight: bold;
}
.title_4{
	background:url(../img/bg5.png) repeat-x bottom
}


.rowlist1 {
	width: 460px;
	height: 340px;
	float: left;
}

.rowlist1 .tit01 {
	width: 460px;
	height: 32px;
	border: 2px;
	border-style: outset;
	border-color: #e9e8e8;
	background: url(../img/bg1.png) no-repeat;
}

.rowlist1 .tit01 .wz {
	width: 89px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	float: left;
}


.rowlist1 .tit01 .more {
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: right;
	font-size: 14px;
	color: #000000;
	float: right;
	margin-right: 10px;
}

.rowlist1 .row1 {
  width: 460px;
  height: 300px;
  border: 1px solid #dddada;
  padding: 10px;
}

.rowlist1 .row1 .m_info{
	height: 105px;
	width: 440px;
}

.rowlist1 .row1 .m_info .npic {
  float: left;
  height: 95px;
  width: 155px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.npic:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
}

.rowlist1 .row1 .m_info .ntt {
  float: right;
  height: 95px;
  width: 265px;
  line-height: 22px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.rowlist1 .row1 .info_detail{
	padding: 10px;
}

.news{
	padding: 5px;
}

.news > li{
	list-style-type: none;

}

.news > li > a > span{
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}


.cor_info{
	width: 70%;
	display: inline-block;
	text-align: left;
	float: left;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.cor_time{
	
	text-align: right;
	float: right;
}

#scrollDiv{
	width:440px;
	height:280px;
	min-height:25px;
	line-height:25px;
	border:#ccc 1px solid;
	overflow:hidden
}
#scrollDiv li{
	height:25px;
	padding-left:10px;
}


.pub_news{
	text-align:left;
}
.pub_news > ul > li{
	margin-top: 5px;
	margin-bottom: 5px;
}

.demo{
	width: 440px;
	height: 280px;
	text-align: left;
	overflow:hidden;
	border:#ccc 1px solid;
}
.demo > ul > li{
	padding-top: 5px;
	padding-bottom:5px; 
}