.contain{
	margin-bottom:30px;
	padding-right:15px;
	padding-left:15px;
	margin-right:30px;
	margin-left:30px;
}
@media (min-width:768px){
	.contain{
		width:auto;
	}
}
@media (min-width:992px){
	.contain{
		width:auto;
	}
}
@media (min-width:1200px){
	.contain{
		width:auto;
	}
}


.con{
	width: 100%;
	padding-right: 50px;
	padding-left: 50px;
	margin: 0 auto;
	text-align: center;
}


.hor{
	display: inline-block;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 10px;
	border:1px solid #e3e2e2;
}

.cir_border{
	margin-top:40px;
	padding:7px;
	border:1px solid #e3e2e2;
}

.assign{
	margin:5px;
	border:1px solid #e3e2e2;
}

.news_push{
	padding: 5px;
	margin-left: 7px;
}

.news_push > li{
	list-style-type:decimal;
	font-size: 15px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
	margin-top: 5px;
	margin-bottom:5px; 
}


.tab_menu{
	overflow:hidden;
	border-bottom: 3px solid #ddd;
}
.tab_menu li{
	width:100px;
	float:left;
	height:42px;
	line-height:42px;
	font-size: 20px;
	color:#fff;
	background:#45b1d9;
	text-align:center;
	cursor:pointer;
}
.tab_menu li.current{
	color:#333;
	background:#f1f2f3;
}

.tab_box{
	padding-top:20px;
	padding-bottom: 20px;
}
.tab_box li{
	height:24px;
	line-height:
	24px;overflow:hidden;
}
.tab_box li span{
	margin:0 5px 0 0;
	font-family:"宋体";
	font-size:12px;
	font-weight:400;
	color:#ddd;
}
.tab_box .hide{
	display:none;
}
.line{
	margin-top: 15px;
	padding-left: 15px;
	font-size: 20px;
	border-bottom: 2px solid #b8b9b9;
}

