.con{
	padding-right: 10px;
	padding-left: 10px;
	margin: 0 auto;
	text-align: center;
}

.hor{
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 20px;
}
.hor > span{
	font-size: 22px;
}


.co_fa{
	margin-top:8px;
}

.title_3{
<<<<<<< HEAD
	background: url(../img/bg4.png) no-repeat;
=======
	background: url(../img/bg4.jpg) no-repeat;
>>>>>>> 3c93f22d45941ced63b093c8b0fde1feaa22b75a
	width: 130px;
	height: 45px;
	line-height: 29px;
	padding-left: 20px;
	color: #ffffff;
}

.t14{
	font-size: 20px;
}

.tb{
	font-weight: bold;
}
.title_4{
<<<<<<< HEAD
	background:url(../img/bg5.png) repeat-x bottom
=======
	background:url(../img/bg5.jpg) repeat-x bottom
>>>>>>> 3c93f22d45941ced63b093c8b0fde1feaa22b75a
}


.rowlist1 {
	width: 490px;
	height: 340px;
	float: left;
}

.rowlist1 .tit01 {
	width: 490px;
	height: 32px;
	border: 2px;
	border-style: outset;
	border-color: #e9e8e8;
<<<<<<< HEAD
	background: url(../img/bg1.png) no-repeat;
=======
	background: url(../img/bg1.jpg) no-repeat;
>>>>>>> 3c93f22d45941ced63b093c8b0fde1feaa22b75a
}

.rowlist1 .tit01 .wz {
	width: 89px;
	height: 33px;
	line-height: 33px;
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	float: left;
}


.rowlist1 .tit01 .more {
	width: 70px;
	height: 33px;
	line-height: 33px;
	text-align: right;
	font-size: 14px;
	color: #000000;
	float: right;
	margin-right: 10px;
}

.rowlist1 .row1 {
  width: 490px;
  height: 300px;
  border: 1px solid #dddada;
  padding: 10px;
}

.rowlist1 .row1 .m_info{
	height: 105px;
	width: 460px;
}

.rowlist1 .row1 .m_info .npic {
  float: left;
  height: 95px;
  width: 170px;
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
}


.rowlist1 .row1 .m_info .ntt {
  float: right;
  height: 95px;
  width: 270px;
  line-height: 22px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.rowlist1 .row1 .info_detail{
	padding: 10px;
}

.news{
	padding: 5px;
}

.news > li{
	list-style-type: none;

}

.news > li > a > span{
	font-size: 15px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.cor_info{
	width: 75%;
	display: inline-block;
	text-align: left;
	float: left;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
.cor_time{
	
	text-align: right;
	float: right;
}

#scrollDiv{
	width:470px;
	height:280px;
	min-height:25px;
	line-height:25px;
	border:#ccc 1px solid;
	overflow:hidden
}
#scrollDiv li{
	height:25px;
	padding-left:10px;
}


#scrollDiv2{
	width:480px;
	height:280px;
	min-height:25px;
	line-height:25px;
	border:#ccc 1px solid;
	overflow:hidden
}
#scrollDiv2 li{
	height:25px;
	padding-left:10px;
}


.pub_news{
	text-align:left;
}
.pub_news > ul > li{
	margin-top: 5px;
	margin-bottom: 5px;
}
.demo{
	width: 470px;
	height: 280px;
	text-align: left;
	overflow:hidden;
}
.demo > ul > li{
	padding-top: 5px;
	padding-bottom:5px; 
}